@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: Inter;
  font-display: swap;
  src:
    local('Inter'),
    url('/fonts/Inter.woff2') format('woff2')
}

@font-face {
  font-family: CascadiaCode;
  font-display: swap;
  src:
    local('CascadiaCode'),
    url('/fonts/CascadiaCode.woff2') format('woff2')
}

:root {
  color-scheme: dark light;
  font-family: Inter, 'Inter', system-ui;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

